services:
  rest-service:
    build: byandyx/deber1-rest-server
    container_name: rest-container
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/8080'"]
      interval: 10s
      timeout: 5s
      retries: 12

  jsf-service:
    build: byandyx/deber1-jsf-server
    container_name: jsf-container
    ports:
      - "8080:8080"
    environment:
      - REST_BASE_URL=http://rest-service:8080/app-rest/api
    depends_on:
      rest-service:
        condition: service_healthy
